@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

header {
  padding: 1.5rem 1.5rem 4rem;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  background: hsl(225, 100%, 98%);
}

h1 {
  margin-bottom: 0.3rem;
  font-size: 1.54rem;
  color: hsl(230, 17%, 14%);
}

h2 {
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 0.93rem;
  border-bottom: 0.0001rem solid hsl(228, 12%, 34%);
  color: hsl(228, 12%, 44%);
}

.dark-mode {
  padding-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: 0.94rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}

input {
  width: 3.2rem;
  height: 1.6rem;
  border-radius: 2rem;
  background: hsl(230, 22%, 74%);
  -webkit-appearance: none;
  outline: none;
  position: relative;
}

input:checked {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

input::before {
  content: "";
  height: 1.23rem;
  width: 1.22rem;
  border-radius: 50%;
  background: hsl(0, 0%, 100%);
  position: absolute;
  top: 0.17rem;
  right: 0.25rem;
}

input:checked::before {
  transform: translate(-1.4rem);
  background: hsl(228, 28%, 20%);
}

input:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

.dark-mode-text {
  color: hsl(0, 0%, 100%);
}

.dark-mode-header {
  background: hsl(232, 19%, 15%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 320px) {
  header {
    padding: 1rem 1rem 4rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  header {
    padding: 1.8rem 8rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    border: none;
  }

  .dark-mode {
    padding-top: 0;
    justify-content: flex-end;
  }

  input {
    margin-left: 0.8rem;
  }
}
