@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

header {
  padding: 1.5rem 1.5rem 4.5rem;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  background: hsl(225, 100%, 98%);
}

h1 {
  margin-bottom: 0.3rem;
  font-size: 1.54rem;
  color: hsl(230, 17%, 14%);
}

h2 {
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 0.93rem;
  border-bottom: 0.0001rem solid hsl(228, 12%, 34%);
  color: hsl(228, 12%, 44%);
}

h3 {
  margin: 0;
  font-size: 3.5rem;
}

h4 {
  margin: 0 0 1.6rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: hsl(228, 12%, 44%);
}

h5 {
  margin: -1.2rem 0 1.8rem;
  font-size: 1.55rem;
  color: hsl(228, 12%, 44%);
}

h6 {
  margin: 0;
  font-size: 1.06rem;
  color: hsl(228, 12%, 44%);
}

.dark-mode {
  padding-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: 0.94rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}

input {
  width: 3.2rem;
  height: 1.6rem;
  border-radius: 2rem;
  border-color: transparent;
  background: hsl(230, 22%, 74%);
  -webkit-appearance: none;
  outline: none;
  position: relative;
}

input:checked {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

input::before {
  content: "";
  height: 1.23rem;
  width: 1.22rem;
  border-radius: 50%;
  background: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
  transition: all 100ms ease-in;
}

input:checked::before {
  transform: translate(-1.4rem, -50%);
  background: hsl(228, 28%, 20%);
}

input:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

main {
  padding: 0 1.5rem;
}

.sm-accounts {
  position: relative;
  bottom: 2.5rem;
  text-align: center;
}

.sm-accounts div {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  border-radius: 0.4rem;
}

.sm-accounts div:hover,
.overview div:hover {
  cursor: pointer;
}

.sm-accounts p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-icon {
  height: 1.4rem;
}

.user {
  margin-left: 0.4rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}

.green {
  margin-left: 0.25rem;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
}

.red {
  margin-left: 0.3rem;
  font-weight: 700;
  color: hsl(356, 69%, 56%);
}

.fb {
  border-top: 0.32rem solid hsl(208, 92%, 53%);
  background: hsl(227, 47%, 96%);
}

.twitter {
  border-top: 0.32rem solid hsl(203, 89%, 53%);
  background: hsl(227, 47%, 96%);
}

.ig {
  background: hsl(227, 47%, 96%);
}

#ig-border {
  margin: 0;
  padding: 0;
  height: 0.32rem;
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  position: relative;
  bottom: 0.95rem;
  overflow: hidden;
}

.yt {
  border-top: 0.32rem solid hsl(348, 97%, 39%);
  background: hsl(227, 47%, 96%);
}

.overview-card {
  padding: 1.5rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  background: hsl(227, 47%, 96%);
}

.overview-card p {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
}

.overview-card-top {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.overview-card-bottom .red,
.overview-card-bottom .green {
  margin-left: 0.2rem;
}

.overview-card-bottom-numbers {
  display: flex;
  align-items: center;
}

.dark-mode-text {
  color: hsl(0, 0%, 100%);
  transition: all 100ms ease-in;
}

.dark-mode-header {
  background: hsl(232, 19%, 15%);
  transition: all 100ms ease-in;
}

.dark-mode-card {
  background: hsl(228, 28%, 20%);
  transition: all 100ms ease-in;
}

.dark-mode-body {
  background: hsl(230, 17%, 14%);
  transition: all 100ms ease-in;
}

.attribution {
  padding: 1rem 0 2rem;
  font-size: 0.7rem;
  text-align: center;
  color: hsl(228, 12%, 44%);
}

.attribution a {
  color: hsl(163, 72%, 41%);
}

@media (max-width: 320px) {
  header {
    padding: 1rem 1rem 4rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .attribution {
    font-size: 0.6rem;
  }
}

@media (min-width: 480px) {
  header {
    padding: 1.5rem 2.8rem 4.5rem;
  }

  main {
    padding: 0 2.8rem;
  }
}

@media (min-width: 600px) {
  header {
    padding: 1.5rem 3.5rem 4.5rem;
  }

  main {
    padding: 0 3.5rem;
  }
}

@media (min-width: 720px) {
  header {
    padding: 1.5rem 7.5rem 4.5rem;
  }

  main {
    padding: 0 7.5rem;
  }
}

@media (min-width: 1000px) {
  header {
    padding: 1.8rem 5rem 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    padding: 0 5rem;
  }

  h2 {
    border: none;
  }

  h5 {
    margin-top: -5rem;
  }

  .dark-mode {
    padding-top: 0;
    justify-content: flex-end;
  }

  input {
    margin-left: 0.8rem;
  }

  .sm-accounts {
    bottom: 7.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
  }

  .overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 1.8rem 9rem 9.5rem;
  }

  main {
    padding: 0 9rem;
  }
}
